*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
}

header{
    color: white;
}

.header-sec{
    height: 50px;
    background-color: orange;
    width: 100%;
    
}

.nav-bar{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo-img{
    height: 25px;
}

.main-container{
    width: 70%;
    height: 1500px;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card{
    width: calc((100% - 30px) / 3);
    padding-bottom: 50px;
    position: relative;
}

.model-first-img{
    width: 100%;
    position: absolute;
    z-index: 1;
    }

.model-second-img{
    width: 100%;
    position: relative;
}

.img-card{
    position: relative;
}

.center-card{
    margin: 0 15px;
}

.sconto{
    height: 25px;
    width: 50px;
    background-color: red;
    position: absolute;
    bottom: 40px;
    left: 0px;
    z-index: 2;
    text-align: center;
    line-height: 25px;
}

.sostenibilita{
    width: 100px;
    background-color: green; 
    left: 55px;
    
}

.sconto, .sostenibilita{
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    bottom: 40px;
    z-index: 2;
    color: white;
}

.like{
    height: 50px;
    width: 50px;
    font-size: 1.8em;
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 2;
    line-height: 50px;
    text-align: center;
    border: none;
    background-color: white;
}

.gray{
    color: grey;
}

.new-price{
    color: red;
}

.old-price{
    text-decoration: line-through;
}

.article{
    text-transform: uppercase;
    font-weight: 500;
}

button.like:hover{
    color: red;
}

div.img-card:hover .model-first-img{
    display: none;
}